
# Ignore pickle files
*.pkl
ml/models/
models/ml-models/
# Or specific: clv_model.pkl, data/clv_model.pkl
# Credentials

kaggle.json
.env
.env.s3.example
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Node modules
node_modules/
backend/app/main.py
backend/requirements.txt

data-collection/data/fixed_lazada_multi_category_full.csv
data-collection/data/fixed_lazada_multi_category_full.json
data-collection/crawlers/lazada/runners/output/fixed_lazada_multi_category_full.json
data-collection/crawlers/lazada/runners/output/fixed_lazada_multi_category_full.csv
data-collection/outputs/fixed_lazada_multi_category_full.csv 
data-collection/outputs/fixed_lazada_multi_category_full.json 
ml/models/ml-models/clustering_features.pkl
*.pkl
ml/models/price_forecast_rf_v1.0.pkl
